{% extends 'dogncat/base.html' %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Pet Details</h1>

        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card">
                    <div class="card-content">
                        <p class="title">{{ pet.name }}</p>
                        <p class="subtitle">Type: {{ pet.pet_type }}</p>
                        <p class="subtitle">Age: {{ pet.age }}</p>
                        <p class="subtitle">Weight: {{ pet.weight }}</p>
                        <p class="subtitle">Gender: {{ pet.gender }}</p>
                        <p class="subtitle">Breed: {{ pet.breed }}</p>
                        <p class="subtitle">Adoption Status: {{ pet.adoption_status }}</p>
                        <p class="subtitle">Description: {{ pet.description | linebreaks }}</p>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="class-action">
                        <a href="{% url 'pets_update' pet.id %}" class="button is-primary">Edit</a>
                        <a href="{% url 'pets_delete' pet.id %}" class="button is-danger">Delete</a>
                    </div>
                    {% endif %}

                    <!-- Insert PHOTO markup below this comment -->
                    {% for photo in pet.photo_set.all %}
                        <img class="responsive-img card-panel" src="{{photo.url}}" alt="pet">
                    {% empty %}
                        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                    {% endfor %}

                    <!-- Form for Uploading Photos -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">

                        {% csrf_token %}
                        <input type="file" name="photo-file">
                        <br><br>
                        <button type="submit" class="btn">Upload Photo</button>
                    </form>
                    {% endif %}
                    <!-- End form for Uploading Photos -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
