{% extends 'dogncat/base.html' %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                
                <div class="columns is-multiline">
                    {% for photo in pet.photo_set.all %}
                        <div class="column is-one-third">
                            <img class="responsive-img card-panel" src="{{photo.url}}" alt="pet">
                        </div>
                    {% empty %}
                        <div class="card-panel teal-text center-align">
                            No Photos Uploaded
                        </div>
                    {% endfor %}
                </div>
                
                {% if user.is_authenticated %}
                    <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                        {% csrf_token %}
                        <input type="file" name="photo-file"><br><br>
                        <button type="submit" class="btn">Upload Photo</button>
                    </form>
                {% endif %}
            </div>

            <div class="card-content">
                <div class="columns">
                    <div class="column">
                        <h1 class="title" style="margin-bottom: 40px;"> Meet {{ pet.name }} </h1>
                        <p class="subtitle">{{ pet.description | linebreaks }}</p>
                    </div>
                    <div class="column">
                        <p class="subtitle"><strong>Age:</strong> {{ pet.age }}</p>
                        <p class="subtitle"><strong>Weight:</strong> {{ pet.weight }}</p>
                        <p class="subtitle"><strong>Gender:</strong> {{ pet.gender }}</p>
                        <p class="subtitle"><strong>Breed:</strong> {{ pet.breed }}</p>
                        <p class="subtitle"><strong>Adoption Status:</strong> {{ pet.adoption_status }}</p>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="class-action">
                        <br>
                        <a href="{% url 'pets_update' pet.id %}" class="button is-primary">Edit</a>
                        <a href="{% url 'pets_delete' pet.id %}" class="button is-danger">Delete</a>
                    </div>
                {% endif %}
                <br><br>
                
                <a href="{% if request.GET.previous_page %}{{ request.GET.previous_page }}{% else %}{% url 'index' %}{% endif %}?sort_by={{ request.GET.sort_by }}">Back to previous page</a>



            </div>                   
        </div>
    </div>
</section>

{% endblock %}
