{% extends 'dogncat/base.html' %}
{% load static %}

{% block content %}

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="columns">
            <div class="columns is-vcentered">
                <div class="column is-7">
                    <img src="{% static 'images/dog-list-page-header.jpeg' %}" alt="pets" class="big-photo" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="column is-5">
                    <h1 class="title is-1 has-text-white"> Adoptable Dogs </h1>
                    <h2 class="subtitle has-text-white"> Best friends in search of a family!</h2>
                    <h2 class="subtitle">These furry companions are ready to bring joy and loyalty 
                        to your home. Meet our lovable pals, each with a unique tale 
                        of love. Discover the happiness a furry friend can bring into your 
                        life. Choose your perfect match and start a heartwarming journey 
                        together. Ready for unconditional love? Adopt a dog today 
                        and share thehappiness!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">See All Dog List</h1>
        <!-- Sort form -->
        <form method="GET">
            <label for="sort_by">Sort By:</label>
            <select id="sort_by" name="sort_by">
                <option value="name">Name</option>
                <option value="gender">Gender</option>
                <option value="breed">Breed</option>
            </select>
            <button type="submit">Apply Sort</button>
        </form>
        <!-- End sort form -->

        <!-- List of dogs -->
        <div class="columns is-multiline" style="margin-top: 25px;">
            {% for dog in dog %}
                <div class="column is-3">
                    <div class="card">
                        <a href="{% url 'detail' dog.id %}?previous_page={{ request.path }}">
                            <div class="card-content">
                                {% with dog.photo_set.first as dog_photo %}
                                    {% if dog_photo %}
                                        <img src="{{ dog_photo.url }}" alt="{{ dog.name }} photo">
                                    {% else %}
                                        <p>No Photo Available</p>
                                    {% endif %}
                                {% endwith %}   
                                <p class="title is-4" style="margin-bottom: 30px; margin-top: 10px;">{{ dog.name }}</p>
                                <p class="subtitle is-6">
                                    <strong>Breed:</strong> {{dog.breed}} <br>
                                    <strong>Age:</strong> {{ dog.age }} <br>
                                    <strong>Gender:</strong> {{ dog.gender }} <br>
                                    <strong>Status:</strong> {{ dog.adoption_status }} <br>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
