{% extends 'dogncat/base.html' %}
{% load static %}
{% block content %}

<section class="hero is-primary is-bold">
    <div class="hero-body" style="height: 480px;">
        <div class="columns">
            <div class="columns is-vcentered">
                <!-- Right side: Message -->
                <div class="column is-5 is-offset-1">
                    <h1 class="title is-1 has-text-white"> Hours & Locations </h1>
                    <h2 class="subtitle has-text-white"> Contact Us Today. </h2>
                </div>
                <!-- Left side: Image -->
                <div class="column is-6">
                    <img src="{% static 'images/cat_header.png' %}" 
                    alt="pets" 
                    class="big-photo" 
                    style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<section class="hero is-bold">
    <div class="container">
        <div class="columns">
            <!-- Veterinary Hospital Column -->
            <div class="column">
                <p class="title">Veterinary Hospital</p>
                <p class="title" style="border-bottom: 3px solid red; width: 50%;"></p>
                <p>
                    201 Alabama Street
                    <br>San Francisco, CA 94103
                    <br>
                        <a href="https://www.google.com/maps/place/201+Alabama+St,
                        +San+Francisco,+CA+94103/@37.7670186,-122.4147912,17z/data=
                        !3m1!4b1!4m6!3m5!1s0x808f7e2f84cbf867:0x9354e6b2d35d0cf4!8m2!3d37.
                        7670186!4d-122.4122163!16s%2Fg%2F11bw41245w?entry=ttu" 
                        style="color: red;" 
                        target="_blank">
                        Get directions
                        </a>
                    <br>
                    <br>
                    <b>Veterinary Hospital Hours</b>
                    <br>By appointment only
                    <br><b>Daily</b> 8am–6pm
                    <br><a href="tel: 4155543030" style="color: red;">(415) 554-3030</a>
                    <br>
                    <br>
                    <b>Pharmacy Hours</b>
                    <br><b>Daily</b> 8am–12pm & 2pm–5pm
                    <br>
                    <br>
                    <b>Spay & Neuter Clinic Hours</b>
                    <br>By appointment only
                    <br><b>Tue–Sat</b> 8am to 6pm
                    <br><a href="tel: 4155543084" style="color: red;">(415) 554-3084</a>
                    <br>
                    <br>
                    <b>Behavior Clinic Hours</b>
                    <br>By appointment only
                    <br><b>Mon–Fri</b> 8:30am to 4pm
                    <br><a href="tel: 4155543074" style="color: red;">(415) 554-3074</a>
                </p>
            </div>
            <!-- Adoption Center/Community Veterinary Clinic Column -->
            <div class="column">
                <p class="title">Adoption Center</p>
                <p class="title" style="border-bottom: 3px solid red; width: 50%;"></p>
                <p>
                    250 Florida Street
                    <br>San Francisco, CA 94103
                    <br>
                        <a href="https://www.google.com/maps/place/250+
                        Florida+St,+San+Francisco,+CA+94103/@37.7660315,-122.4141942,17z/
                        data=!3m1!4b1!4m6!3m5!1s0x808f7e2f94fa547d:0x27106e681320893a!8m2!
                        3d37.7660315!4d-122.4116193!16s%2Fg%2F11c5k_0z5d?entry=ttu" 
                        style="color: red;"
                        target="_blank">
                        Get directions
                        </a>
                    <br>
                    <br>
                    <b>Adoption Center Hours</b>
                    <br><b>Mon</b> closed
                    <br><b>Tue</b> 1pm–6pm 
                    <br><b>Wed–Sun</b> 11am–6pm
                    <br>
                    <br>
                    To find out more information about adoptions, email us at 
                    <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=
                    mailto&to=adoptions@sfspca.org" 
                    style="color: red;" 
                    target="_blank">
                    adoptions@sfspca.org
                    </a>
                </p>
                <br>
                <br>
                <p class="title">Community Veterinary Clinic</p>
                <p class="title" style="border-bottom: 3px solid red; width: 50%;"></p>
                <p>
                    4527 Mission Street
                    <br>San Francisco, CA 94112
                    <br>
                    <a href="https://www.google.com/maps/place/4527+Mission+St,
                    +San+Francisco,+CA+94112/@37.7257122,-122.4364026,17z/data=!3m1!
                    4b1!4m6!3m5!1s0x808f7e88c6c80c41:0x55a7ce6a0c402a0c!8m2!3d37.
                    7257122!4d-122.4338277!16s%2Fg%2F11bytnsmrb?entry=ttu" 
                    style="color: red;" 
                    target="_blank"> 
                    Get directions
                    </a>
                    <br>
                    <br>
                    <b>Community Veterinary Clinic Hours</b>
                    <br><b>Wed–Sat</b> 8am–6pm
                    <br><a href="tel: 4154295410" style="color: red;">(415) 429-5410</a>
                </p>
            </div>
        </div>
    </div>
</section>





{% endblock %}