{% extends 'dogncat/base.html' %}
{% load static %}
{% block content %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="columns">
            <div class="columns is-vcentered">
                <!-- Right side: Message -->
                <div class="column is-6">
                    <h1 class="title is-1 has-text-white"> Thankful for ...a Second Chance</h1>
                    <h2 class="subtitle has-text-white"> Our dogs and cats are looking for a loving home. 
                        When you adopt, you bring joy to both your life and theirs. Their wagging 
                        tails and soft purrs share stories of hope and love. Open your heart to 
                        these special friends, and welcome a furry companion into your life. 
                        Make a connection that lasts a lifetime, filled with gratitude and companionship.</h2>
                </div>
                <!-- Left side: Image -->
                <div class="column is-6">
                    <img src="{% static 'images/landing_01.jpeg' %}" alt="pets" class="big-photo" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
    <h1 class="title">See All Dog and Cat List</h1>
        <!-- Sort form -->
        <form method="GET">
            <label for="sort_by">Sort By:</label>
            <select id="sort_by" name="sort_by">
                <option value="pet_type" {% if request.GET.sort_by == 'pet_type' %}selected{% endif %}>Type</option>
                <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>Name</option>
                <option value="gender" {% if request.GET.sort_by == 'gender' %}selected{% endif %}>Gender</option>
                <option value="breed" {% if request.GET.sort_by == 'breed' %}selected{% endif %}>Breed</option>
            </select>
            <button type="submit">Apply Sort</button>
        </form>
        <!-- End sort form -->
        <div class="columns is-multiline" style="margin-top: 25px;">
        {% for pet in pet %}
            <div class="column is-3">
                <div class="card">
                    <!-- detail is from urls.py -->
                    <a href="{% url 'detail' pet.id %}?sort_by={{ request.GET.sort_by }}">
                        <div class="card-content">
                            <!-- Display the photo -->
                            {% with pet.photo_set.first as pet_photo %}
                                {% if pet_photo %}
                                    <img src="{{ pet_photo.url }}" alt="{{ pet.name }} photo">
                                {% else %}
                                    <p>No Photo Available</p>
                                {% endif %}
                            {% endwith %}   
                            <p class="title is-4"  style="margin-bottom: 30px; margin-top: 10px;">{{ pet.name }}</p>
                            <p class="subtitle is-6">
                                <strong>Breed:</strong> {{pet.breed}} <br>
                                <strong>Age:</strong> {{ pet.age }} <br>
                                <strong>Weight:</strong> {{ pet.weight }} <br>
                                <strong>Gender:</strong> {{ pet.gender }} <br>
                                <strong>Status:</strong> {{ pet.adoption_status }} <br>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
