/* font-family: 'DM Serif Display', serif;
font-family: 'Jura', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Righteous', sans-serif; */

.navbar {
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
 }

.sitename-font {
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
}


 